<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>The excel mapper</header>

    <form method="post" enctype="multipart/form-data">
        <label for="source_file"> Upload the Source File</label>
        <input type="file" name="source_file" id="source_file">
        <button type="submit">Upload Source File</button>

    </form>
    

  

    <form method="post" enctype="multipart/form-data">
        <label for="target_file"> Upload the Target File</label>
        <input type="file" name="target_file" id="target_file">
        <button type="submit">Upload Target File</button>
    </form>

</body>
</html>